version: '3.8'
services:
    web:
        image: docker.io/nginx:1.25-alpine
        ports: 
            - "127.0.0.1:8080:80"
        volumes:
            - ./nginx.conf:/ect/nginx/nginx.conf:ro
        restart: unless-stopped
        network:
            - frontend_network

db:
    image: docker.io/postgres:15-alpine
    environment:
        POSTGRES_PASSWORD: ${DB_PASSWORD}
        POSTGRES_USER: ${DB_USER}
        POSTGRES_DB: ${DB_NAME}
    volumes:
        - postgres_data:/var/lib/postgresql/data:Z
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d${DB_NAME}"]
        interval: 10s
        timeout: 5s
        retries: 3
    restart: unless-stopped
    network:
        - backend_network

redis:
    image: docker.io/redis:7-alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    healthcheck:
        test: ["CMD", "redis-cli", "ping"]
        interval: 10s
        timeout: 3s
        retries: 3
    restart: unless-stopped
    network:
        - backend_network

volumes:
    postgres_data:
       name: lab2_postgres_data

networks:
    frontend_network:
        driver: bridge
    backend_network:
        driver: bridge
